// margin top

.mt4 {
  margin-top: 4px;
}

.mt8 {
  margin-top: 8px;
}

.mt12 {
  margin-top: 12px;
}

.mt16 {
  margin-top: 16px;
}

.mt20 {
  margin-top: 20px;
}

// margin bottom

.mb12 {
  margin-bottom: 12px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb20 {
  margin-bottom: 20px;
}

// margin left

.ml4 {
  margin-left: 4px;
}

.ml8 {
  margin-left: 8px;
}

.ml12 {
  margin-left: 12px;
}

.ml16 {
  margin-left: 16px;
}

.ml--auto {
  margin-left: auto;
}

// margin right

.mr8 {
  margin-right: 8px;
}

.mr12 {
  margin-right: 12px;
}

// padding

.p3 {
  padding: 3px;
}
.p15 {
  padding: 15px;
}
.p35 {
  padding: 35px;
}
//padding top
.pt4 {
  padding-top: 4px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding: 15px;
}

// padding bottom
.pb4 {
  padding-bottom: 4px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb14 {
  padding-bottom: 14px;
}
// flex
.flex--row {
  @include flex-row();
}
