/**
* @desc         set up variables.
* @requires     none
*/
// Background
$bg-white: #fff;
$bg-color: #f0f2f5;
// Color
$primary-color: #1b56b3;
$background-color: #f0f2f5;
$neutral-greyHeavy: #828282;
$door-purple: #9747ff;
$default-color: #333333;
$main-red-color: #d02127;
$main-green-color: #1bb36b;
$main-blue-color: #1b56b3;

$bg-dark: #4f4f4f;

// Heading
$heading-1: 4.8rem;
$heading-2: 3.2rem;
$heading-3: 2.8rem;
$heading-4: 2.4rem;
$heading-5: 2rem;
$heading-6: 1.6rem;

// border
$border-table-color: #f0f0f0;

// upload
$upload-background-color: #f1f6fe;

// font
$font-family-default: 'Roboto', sans-serif;

// table
$table-row-bg: #eaf4ff;

//box-shadow
$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
