/**
* @desc         overrides default libary styles.
* @requires     variables.scss, functions.scss
*/

// begin: custom scrollbar
::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 0.5rem;
}

::-webkit-scrollbar:horizontal {
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  border: 1px solid #fff;
}

::-webkit-scrollbar-track {
  border-radius: 0.5rem;
  background-color: $bg-white;
}
// end

// ant modal
.ant-modal-title {
  text-align: center;
}
.ant-modal-title,
.ant-modal-close {
  color: #fff;
}
// ant upload
.ant-upload-drag {
  background-color: #c7dcfc !important;
  height: 200px !important;
}

// ant table
.ant-table-body {
  overflow-y: auto !important;
}
.table-row-bg {
  background-color: $table-row-bg;
}

.page-layout {
  background-color: #fff;
  padding: 1.6rem;
  height: 100%;
  overflow-y: auto;
}

.ant-image-img {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  image-rendering: optimizeSpeed;
}

.data-empty {
  @include centerer();
  white-space: nowrap;
}

.table-row-cursor {
  cursor: pointer;
}
.header-content {
  @include flex-between();
  &-search {
    width: 40rem;
  }
}
